<!--
body, p, h1,form, input, fieldset 
{
  margin:0;
  padding:0;
}

body 
{
  background-color: #F4F4F4;
}

#inscription 
{
  width:400px;
  background:#FFFFFF;
  margin:20px auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size:1em;
  border:1px solid #ccc;
  border-radius:10px;
}

#inscription fieldset 
{
  text-align:center;
  font-size:1.2em;
  background:#333333;
  padding-bottom:5px;
  margin-bottom:15px;
  color:#FFFFFF;
  letter-spacing:0.05em;
  border-top-left-radius:10px;
  border-top-right-radius:10px;
}

#inscription p 
{
  padding-top:15px;
  padding-right:50px;
  text-align:right;
}

#inscription input 
{
  margin-left:30px;
  width:150px;
}

#inscription #valider 
{
  width:155px;
  font-size:0.8em;
}

#inscription #message 
{
  height:27px;
  color:#F00;
  font-size:0.8em;
  font-weight:bold;
  text-align:center;
  padding:10px 0 0 0;
}
-->